<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{ asset('style.css') }}"/>
	</head>
	<body>
		{% block body %}
			<h1>Merhaba {{ user }}. Park halindeki araçların aşağıda listelenmektedir.</h1>

			<table>
				<thead>
					<tr>
						<th>Marka</th>
						<th>Model</th>
						<th>Plaka</th>
					</tr>
				</thead>
				<tbody>
					{% for car in cars %}
						<tr>
							<td>{{ car.brand }}</td>
							<td>{{ car.model }}</td>
							<td>{{ car.plate }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}
	</body>
</html>
